[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GANPA"]
	path = GANPA
	url = https://github.com/cran/GANPA
[submodule "GANPAdata"]
	path = GANPAdata
	url = https://github.com/cran/GANPAdata
